<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 align=center class="alert alert-danger">Lista de Frutas</h1>
        <input type="text" v-model="nuevaFruta" id="exampleFormControlInput1" placeholder="Agregar fruta">
        <button v-on:click="agregar()" v-bind:class="botonAgregar" align=right>Agregar</button>
        <ul v-for="f of frutas">
            <li v-bind:class="cambiarColor(f)" class="alert alert-dark">
                <h4>{{f.fruta}} Cantidad: {{f.cantidad}}</h4>
                <button v-on:click="f.cantidad++" v-bind:class="aumentar">+</button>
                <button v-on:click="f.cantidad--" v-bind:class="disminuir">-</button>
                <button v-on:click="borrar" class="btn btn-outline-warning">Eliminar</button>
            </li>
        </ul>
        <div>
            <h1 class="alert alert-success" align=center>Total: {{total}}</h1>
        </div>

    </div>

    <script src="vue.js"></script>
</body>

</html>