<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="newNombre" placeholder="Agregar nombre">
        <button v-on:click="agregar()">Agregar</button>
        <ul v-for="n of nombre">
            <p>{{n.nombre}}</p>
        </ul>
    </div>


    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Registro de Correo",
                nombre: ["Pedro", "Juan", "Alex"],
                newNombre: "",
            },
            computed: {
                agregar() {
                    if (this.nombre) {
                        this.nombre.push(
                            {
                                nombre: this.newNombre + "@gmail.com",
                            }
                        )
                    }
                    this.newNombre = ""
                },
            }

        })
    </script>
</body>

</html>